.error {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: auto 0;
	h2 {
		color: var(--text-hover);
	}
	button {
		padding: 15px;
		border-radius: 30px;
		border: none;
		background-color: rgb(130, 0, 195);
		cursor: pointer;
		transition: .5s;
		margin-top: 30px;
		&:hover {
			box-shadow: 1px 1px 10px purple;
			transform: translateY(-3px);
		}
		a {
			color: white;
		}
	}
}