.no-favorites {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 20px;
	margin: auto 0 auto;
	h2 {
		font-size: 32px;
		font-weight: 700;
		color: var(--text-hover);
		margin-bottom: 40px;
	}
	p {
		span {
			color: var(--text-hover);
			transition: .5s;
			&:hover {
				filter: drop-shadow(1px 1px 10px rgb(114, 0, 180));
			}
		}
	}
}